<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('inc/head') %>
  <title>Notes</title>
</head>

<body>
  <header>
    <a title="Click to go to note creation" href="/notes/create">
      <button>Add</button>
    </a>

    <div>
      <% if (search) { %>
        <a class="inline" title="Click to remove search filter" href="/notes">
          <button>Clear</button>
        </a>
      <% } %>

      <form class="inline" action="/notes" method="GET">
        <input type="search" id="search" name="search" placeholder="Search notes" class="small-search-input" value="<%= search %>">
      </form>

      <a class="inline" title="Click to logout" href="/logout">
        <button>Logout</button>
      </a>
    </div>
  </header>

  <hr>

  <div class="page-content">
    <h1>Notes</h1>

    <div class="box message">
      <small>
        <% if (search) { %>
          Found <strong><%= notes.length %></strong> results for "<%= search %>"
        <% } else { %>
          Hey <%= userFirstName %>! You have <strong><%= notes.length %></strong> note<%= notes.length !== 1 ? 's' : '' %>.
          <% if (notes.length === 0) { %>
            <br>
            Click <strong>Add</strong> to start 📝
          <% } %>
        <% } %>
      </small>
    </div>

    <!-- List of Notes -->
    <ul>
      <% notes.map((note)=> { %>
        <li id='<%= note._id %>'>
          <section>
            <h2 class="note-title">
              <%= note.title %>
            </h2>
            <p class="note-preview">
              <% if (note.content.length> previewStringSize) { %>
                <%= note.content.substring(0, previewStringSize).trim() + '…' %>
              <% } else { %>
                <%= note.content %>
              <% } %>
              <br>
            </p>

            <small><a href="<%= `/notes/${note._id}` %>">Read More</a></small>
          </section>
        </li>
      <% }) %>
    </ul>
  </div>

  <footer>
    <%- include('inc/footer') %>
  </footer>
</body>

</html>