<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>All Notes</title>
</head>

<body>
  <div>
    <h1>Notes</h1>

    <form action="">
      <label for="searchInput">Search</label>
      <input type="text" name="search" id="searchInput">
       <button>Search</button>
     </form>
    
    <ul>
      <% notes.map((note)=> { %>
        <li id='<%= note.id %>'>
          <section>
            <h2>
              <%= note.title %>
            </h2>
            <% if (note.content.length > previewSize) { %>
                <%= note.content.substring(0, previewSize).trim() + '…' %>
            <% } else { %>
              <%= note.content %>
            <% } %>
            <a href="<%= `/notes/${note.id}` %>">Read More</a>
          </section>
        </li>
      <% }) %>
    </ul>
  </div>
  <a href="/notes/add">
    <button>Add Note</button>
  </a>

</body>

</html>