<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('inc/head') %>
  <title><%= note.title %></title>
</head>

<body>
  <header>
    <a title="Click to go back to home page" href="/notes">
      <button>Home Page</button>
    </a>

    <div>
      <form title="Click to delete this note" class="inline" action="/notes/<%= note._id %>/delete" method="POST">
        <button type="submit">Delete</button>
      </form>

      <a title="Click to go to note editor" href="/notes/<%= note._id %>/edit">
        <button>Edit</button>
      </a>
    </div>
  </header>

  <hr>

  <div class="page-content">
    <h1><%= note.title %></h1>

    <p class="content-wrapper"><%= note.content %></p>

    <p>
      <small>
        <strong>Created at:</strong> <%= `${note.createdAt.toLocaleString('pt-BR')}` %>
        <% if(+new Date(note.createdAt) !==+new Date(note.updatedAt)) { %>
          <br><strong>Updated at:</strong> <%= `${note.updatedAt.toLocaleString('pt-BR')}` %>
        <% } %>
      </small>
    </p>
  </div>

  <%- include('inc/footer') %>
</body>

</html>