<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>
    <%= note.title %>
  </title>
</head>

<body>
  <div class="header">
    <a title="Click to go back to all notes" href="/notes">
      <button>All Notes</button>
    </a>

    <div>
      <form title="Click to delete this note" class="form-inline" action="/notes/<%= note.id %>/delete" method="POST">
        <button type="submit">Delete Note</button>
      </form>

      <a title="Click to go to note editor" href="/notes/<%= note.id %>/edit">
        <button>Edit Note</button>
      </a>
    </div>
  </div>

  <hr>

  <h1>
    <%= note.title %>
  </h1>

  <p class="content-wrapper">
    <%= note.content %>
  </p>

  <p>
    <small>
      <strong>Created at:</strong>
      <%= `${note.createdAt.toLocaleString('pt-BR')}` %>
        <% if(+new Date(note.createdAt) !==+new Date(note.updatedAt)) { %>
          <br>
          <strong>Updated at:</strong>
        <%= `${note.updatedAt.toLocaleString('pt-BR')}` %>
      <% } %>
    </small>
  </p>

</body>

</html>