<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Notes</title>
</head>

<body>
  <header>
    <a title="Click to go to note creation" href="/notes/create">
      <button>Add</button>
    </a>

    <div>
      <% if (search) { %>
        <a class="inline" title="Click to remove search filter" href="/notes">
          <button>Clear</button>
        </a>
      <% } %>

      <form class="inline" action="/notes" method="GET">
        <input type="text" id="search" name="search" placeholder="Search in notes" class="small-search-input" value="<%= search %>">
        <button title="Click to search in notes" type="submit" id="submitButton">Search</button>
      </form>

      <a class="inline" title="Click to logout" href="/logout">
        <button>Logout</button>
      </a>
    </div>
  </header>

  <hr>

  <div class="page-content">
    <h1>
      Notes
    </h1>

    <!-- List of Notes -->
    <ul>
      <% notes.map((note)=> { %>
        <li id='<%= note._id %>'>
          <section>
            <h2 class="note-title">
              <%= note.title %>
            </h2>
            <p class="note-preview">
              <% if (note.content.length> previewStringSize) { %>
                <%= note.content.substring(0, previewStringSize).trim() + '…' %>
              <% } else { %>
                <%= note.content %>
              <% } %>
              <br>
              <a href="<%= `/notes/${note._id}` %>">Read More</a>
            </p>
          </section>
        </li>
      <% }) %>
    </ul>
  </div>

</body>

</html>