<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('inc/head') %>
  <title>Register</title>
</head>

<body>
  <div class="half-width">

    <h1>Register</h1>

    <%- include('inc/form-error.ejs') %>
    
    <form id="registrationForm" class="full-width" action="/register" method="POST">
      <label for="name">Name</label>
      <input class="form-separated" value="<%= locals.user ? user.name : '' %>" autofocus name="name" id="name" type="text">
      
      <label for="email">E-mail</label>
      <input class="form-separated" value="<%= locals.user ? user.email : '' %>" name="email" id="email" type="email">

      <label for="password">Password</label>
      <input class="form-separated" name="password" id="password" type="password">

      <label for="password2">Password Confirmation</label>
      <input class="form-separated" name="password2" id="password2" type="password">

      <button class="form-separated" id="buttonSubmit" type="submit">Register</button>
    </form>

    <div class="auth-link">
      <a href="/login">I already have an account</a>
    </div>
  </div>

  <footer>
    <%- include('inc/footer') %>
  </footer>
</body>

</html>